<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная</title>
    <link rel="stylesheet" href="assets/home.css">
</head>
<body>
<nav class="navbar">
    <div class="container">
        <h1 class="logo">Главная</h1>
    </div>
</nav>
<div class="container">
    <div class="form">
        <input type="text" id="team-name" placeholder="Введите название команды">
        <button id="create-team">Создать</button>
    </div>
    <div id="team-container" class="team-container"></div>
</div>
<script src="assets/home.js"></script>
</body>
</html>
