<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Восстановление пароля</title>
    <link rel="stylesheet" href="assets/newpass.css">
</head>
<body>
<div class="container">
    <h2>Восстановление пароля</h2>
    <form id="new-password-form">
        <label for="new-password">Введите новый пароль:</label>
        <input type="password" id="new-password" name="new-password" required>
        <button type="submit">Установить новый пароль</button>
    </form>
    <div id="error-message"></div>
</div>
<script src="assets/newpass.js"></script>
</body>
</html>
